.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  font-weight: 400;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.button {
  font-family: "Raleway", sans-serif;
  padding: 10px 40px;
  background-color: #0bb0e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

button:hover {
  background-color: #087ea4;
  opacity: 1;
}

.buttonCSV {
  padding: 10px 20px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonCSV:hover {
  background-color: #286c6e;
  opacity: 1;
}

.deleteButton {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.deleteButton:hover {
  background-color: #bb331b;
  opacity: 1;
}

.todoList {
  list-style: none;
}

.todoItem {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.todoText {
  color: #333;
}
.completed {
  text-decoration: line-through;
  color: #999;
}

.checkbox {
  cursor: pointer;
}

.filterButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
